{% extends 'Admin/Header.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>Sl.no</td>
            <td>Feedback</td>
            <td>Date</td>
            <td>Username</td>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.feedback_content}}</td>
            <td>{{i.feedback_date}}</td>
            <td>{{i.user.user_name}}</td>
        </tr>
        {% endfor %}
   </table>     
</body>
</html>
{% endblock content %}